html{
    position: relative;
}
 
html, body{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: url("../images/trees.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
 
h1, h2, h3, h4, h5, h6{

    color: #4aaaa5;    
}
 
a{
    text-decoration: none;
}
 
h1{
    font-size: 2em;
    font-family: 'Special Elite', cursive;
    font-weight: bolder;
}
 
h2{
    font-size: 1em;
    font-family: 'Special Elite', cursive;
}
 
/***layout***/
 
 
 
header{
    width: 100%;
    height: auto;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    
}
 
header .container{
    width: 960px;
    margin: 0 auto;
  
}
 
.name, .nav{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding:0;
   
}
 
.name {
    width: 35%;
    text-align: center;
   }
 
.logo{
    display: inline-block;
    font-weight: bolder;
    font-size: 41px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px 0 0 0;
    width: 400px;
    height: 55px;
    border-radius: 10px;
}
 
.nav{
    width: 60%;
    text-align: right;
    font-size: 25px;
    color: #777777;  
    font-family: 'Abril Fatface', cursive;
   
}
 
.nav ul li{
    position: relative;
    display: inline-block;
    padding-left: 1em;
    margin-left: 1em;
 
}
.nav ul li a{
    color: #777777;
    text-decoration: none;
  
}
 
.nav ul li a:hover{
    color: #ffffff;
    background: #4aaaa5;
    padding: 5px;
    transition: .5s;
    border-radius: 10px;
}
 
.nav ul li a.active{
    color: black;
}
.nav ul li a.focus{
    color: black;
}
 
.nav ul li+li{
    border-left: 1px solid #cccccc;
}
 
 
/***main box content***/
 
.content{
    width: 960px;
    clear: both; 
    margin: 0 auto 6em auto;
   
}
 
.main{
    display: inline-block;
    width: 600px;
    margin: 70px 0 0 70px;
    padding: 100px; 
    background-color: #ffffff;
    border: 1px solid #dddddd;  
    opacity: 0.85; 
}
 
.main h2 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em;
    margin-bottom: 0.8em;
    border-bottom: 2px solid #dddddd;
    opacity: 0.75; 
   }
 
.main p {
    font-size: 17px;
    line-height: 1.75em;
    margin-bottom: 2em;   
  }
 
img.about-photo {
    float: left;
    padding: 0 1em 1em 0;
    width: 180px;
    height: 180px;
}

.info {
    position: relative;
    background-color: white;
    display: inline-block;
    width: 794px;
    height: 200px;
    margin: 3px 3px 3px 3px;
    border: 1px solid #dddddd;
    color: black;    
    font-size: 20px;
    line-height: 22px;
    opacity: 0.85; 
}

.inforoot {
    background-color: #4aaaa5;
    border: 1px solid #dddddd;
    height: 208px;
    width: 802px;
    text-align: center; 
    margin: 70px 0 0 70px;
    opacity: 0.85; 
}
  
/****portfolio***/
.image-port{  
    width: 230px;
    height: 160px;
}
 
.portfolio-item{
    display: inline-block;
    position: relative;
    width: 230px;
    height: 160px;
    left: 55px;
    opacity: 1;
    border: #4aaaa5 solid 2px;
}
 
.portfolio-item:nth-child(even){
    margin-left: 0px;
    margin-right: 30px;
   }
 
.item-name{
    position: relative;
    font-family: 'Abril Fatface', cursive;
    font-size: 19px;
    font-weight: lighter;
    top: -60px;
    height: 17%;
    text-align: center;
    letter-spacing: .04em;
    background-color: rgb(34, 207, 34);
    border: 1px black solid;
    padding: 1px;
    color: blue; 
}

.item-name:hover {
    color: white;
    text-decoration: underline;    
    transition: .3s;
      }

.contact-item:hover {
    color: blue;  
    text-decoration: underline;
    font-size: 23px;
    transition: .3s;
    }

.contact-form {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px;
    max-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #cccccc;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-family: 'Lobster', cursive;
}
 
/***contact***/
 
 
#message{
    height: 300px;
}
 
.contact{
    width: 500px;
}
 
.contact input, .contact textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border: 2px solid #cccccc;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 16px;
}
 
.contact button {
    width: auto;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    margin: 0 auto;
}
 
::placeholder {
    color: #cccccc;
  }
